{% extends 'base.html.twig' %}

{% block title %}Hello RecoverController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> ✅</h1>


    <form action="#">
     <p><b>Выберите способ востановления пароля:</b></p>
      <p><input name="recover" type="radio" value="sms">По SMS</p>
      <p><input name="recover" type="radio" value="email">По Email</p>
      <p><input name="recover" type="radio" value="voice">Голосом</p>
      <p><input type="submit" value="Выбрать"></p>
    </form>
</div>
{% endblock %}
