{# DESKTOP #}

<div class="main-center__desktop">



{{ include('main/sidebar/_sidebar.twig') }}



    <div class="main__right">

 <section class="main-literature main-literature__page">
            <h3 class="main-leccenter__title">Учебная литература</h3>
          <div class="main-map__content-top main-map__content-top--literature">
                    <div class="main-map__content-top__left">
                        <div class="main-map__content-top__type">
                         <select>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Новосибирск</option>
                            <option>Екатеринбург</option>
                            <option>Киров</option>
                            <option>Ярославль</option>
                         </select>
                        </div>
                    </div>
                    <div class="main-map__content-top__right main-map__content-top__right--literature">
                       <input type="search" placeholder="Введите адрес или название центра">
                    </div>
                </div>

            <div class="main-map__content-bottom">
                <div class="main-literature__content">
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                    <div class="main-literature__card">
                        <h3 class="main-literature__card-title">Петрикас Арнольд Жанович</h3>
                        <p class="main-literature__card-name"><span>Пульпэктомия.</span>Альфа-Пресс. 340 с.</p>
                        <p class="main-literature__card-price">3 000 ₽</p>
                    </div>
                 </div>

            </div>
            <button class="main-literature__button">Вся литература</button>
            </section>

    </div>
