{# DESKTOP #}

<div class="main-center__desktop">



{{ include('main/sidebar/_sidebar.twig') }}



    <div class=" main__right main__right--catalog">
         <section class="main-catalog">
                <h1 class="main-catalog__title">Каталог</h1>

                <div class="main-catalog__content">

                    <div class="main-catalog__card main-catalog__card--terapia">
                      <a href="/events?fill&event_ways=1">
                       <p class="main-catalog__name">Терапия</p>
                       <p class="main-catalog__number"><span id="waycounter1">0</span> мероприятия</p>
                       </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--endo">
                    <a href="/events?fill&event_ways=2">
                       <p class="main-catalog__name">Эндодонтия</p>
                       <p class="main-catalog__number"><span id="waycounter2">0</span> мероприятия</p>
                       </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--hirurgia">
                    <a href="/events?fill&event_ways=3">
                       <p class="main-catalog__name">Хирургия и имплантология</p>
                       <p class="main-catalog__number"><span id="waycounter3">0</span> мероприятия</p>
                      </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--paradont">
                    <a href="/events?fill&event_ways=4">
                       <p class="main-catalog__name">Пародонтология</p>
                       <p class="main-catalog__number"><span id="waycounter4">0</span> мероприятия</p>
                    </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--ortoped">
                    <a href="/events?fill&event_ways=6">
                       <p class="main-catalog__name">Ортопедия</p>
                       <p class="main-catalog__number"><span id="waycounter5">0</span> мероприятия</p>
                    </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--ortodont">
                    <a href="/events?fill&event_ways=5">
                       <p class="main-catalog__name">Ортодонтия</p>
                       <p class="main-catalog__number"><span id="waycounter6">0</span> мероприятия</p>
                    </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--kids">
                    <a href="/events?fill&event_ways=8">
                       <p class="main-catalog__name">Детская стоматология</p>
                       <p class="main-catalog__number"><span id="waycounter7">0</span> мероприятия</p>
                    </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--gigiena">
                    <a href="/events?fill&event_ways=11">
                       <p class="main-catalog__name">Гигиена, профилактика, cестринское дело</p>
                       <p class="main-catalog__number"><span id="waycounter11">0</span> мероприятия</p>
                    </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--rentgen">
                    <a href="/events?fill&event_ways=12">
                        <p class="main-catalog__name">Рентгенология, дентальная фотография</p>
                       <p class="main-catalog__number"><span id="waycounter12">0</span> мероприятия</p>
                    </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--cad">
                    <a href="/events?fill&event_ways=7">
                       <p class="main-catalog__name">CAD/CAM</p>
                       <p class="main-catalog__number"><span id="waycounter7">0</span> мероприятия</p>
                    </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--cad">
                    <a href="/events?fill&event_ways=9">
                       <p class="main-catalog__name">Зуботехника</p>
                       <p class="main-catalog__number"><span>0</span> мероприятия</p>
                    </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--common">
                    <a href="/events?fill&event_ways=13">
                       <p class="main-catalog__name">Общие тематики</p>
                       <p class="main-catalog__number"><span id="waycounter13">0</span> мероприятия</p>
                    </a>
                    </div>

                    <div class="main-catalog__card main-catalog__card--marketing">
                    <a href="/events?fill&event_ways=10">
                       <p class="main-catalog__name">Менеджмент, маркетинг, право</p>
                       <p class="main-catalog__number"><span id="waycounter10">0</span> мероприятия</p>
                    </a>
                    </div>

                </div>
         </section>

    </div>
