{% extends 'base.center.twig' %}

{% block title %}Личный кабинет {{ full_name }} {% endblock %}


{% block body %}


    <main class="main-center">
            {% if mobileDetect == true %}
            {{ include('center/cabinet/cabinet.mobile.twig') }}
            {% else %}
            {{ include('center/cabinet/cabinet.desktop.twig') }}
            {% endif %}

    </main>

{% endblock %}

{% block javascripts %}
{# <script src="/js/cabinet_events_filter-min.js" charset="utf-8"></script> #}
{# popups #}
<script src="/js/cabinet-min.js"></script>
<script src="/js/validate-min.js" charset="utf-8"></script>
 <script src="/js/magnific-min.js" charset="utf-8"></script>
 <script src="/js/steps-min.js" charset="utf-8"></script>
 <script src="/js/sendservice-min.js" charset="utf-8"></script>
 <script src="/js/popups-min.js" charset="utf-8"></script>

 {# календарь #}
 <script src="/js/calendar_logic-min.js" charset="utf-8"></script>
 <script src="/js/calendar-min.js" charset="utf-8"></script>
{% endblock %}
