{# MOBILE #}




          <div class="main-center__mobile">
                <div class="main-center__content">

                        <div class="main-center__left">

                                {# <div class="sidebar">
                                        <div class="sidebar__mobile">
                                            <h3 class="sidebar__title">Личный кабинет</h3>
                                            <li class="sidebar__item sidebar__item--mobile sidebar__item--exit"><a href="#">Выход</a></li>
                                        </div>
                                        <ul class="sidebar__list">
                                            <li class="sidebar__item sidebar__item--main"><a href="#">Главная</a></li>
                                            <li class="sidebar__item sidebar__item--profile"><a href="#">Профиль</a></li>
                                            <li class="sidebar__item sidebar__item--site"><a href="#">Сайт</a></li>
                                            <li class="sidebar__item sidebar__item--lecture"><a href="#">Лекторы</a><span>6</span></li>
                                            <li class="sidebar__item sidebar__item--events"><a href="#">Мероприятия</a><span>3</span></li>
                                            <li class="sidebar__item sidebar__item--mail"><a href="#">Сообщения</a><span>5</span></li>
                                            <li class="sidebar__item sidebar__item--advertising"><a href="#">Реклама</a></li>
                                            <li class="sidebar__item sidebar__item--tablet sidebar__item--exit"><a href="#">Выход</a></li>
                                        </ul>
                                    </div> #}

                                    {{ include('listener/sidebar/_m.sidebar.twig') }}

                        </div>

                        <div class="main-center__right main-center__right--events">
                            <div class="container">

                            <h3 class="personal_cabinet__title personal_cabinet__title--event">Мероприятия</h3>

                            <div class="personal_cabinet__slider">

                            <div class="lectures-slider__main responsive">
                                <div class="lectures-group__block block">
                                    <div class="block__top">
                                        <div class="block__when">
                                        <div class="block__data">30.08.2019</div>
                                        <div class="block__time">09:00 - 19:00</div>
                                        </div>
                                        <div class="block__address">г. Москва, ул. Усачева 62</div>
                                    </div>
                                    <div class="block__bottom">
                                        <div class="block__high">
                                            <div class="block__topic"><span class="block__dot block__dot--paradont"></span>Пародонтология</div>
                                            <div class="block__type">Семинар</div>
                                        </div>
                                        <div class="block__center">
                                            <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                            <div class="block__price">25 000 ₽</div>
                                        </div>
                                        <div class="block__about">
                                            <div class="block__doctor">
                                                <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                <div class="block__fio">
                                                    <div class="block__name">Бадалян К. Ю.</div>
                                                    <div class="block__work">Стоматолог-пародонтолог</div>
                                                </div>
                                            </div>
                                            <div class="block__add">
                                                <div class="block__star">10</div>
                                                <div class="block__sert">Сертификат</div>
                                                <div class="block__more">еще</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="lectures-group__block block">
                                    <div class="block__top block__top--second">
                                        <div class="block__when">
                                            <div class="block__data">30.08.2019</div>
                                            <div class="block__time">09:00 - 19:00</div>
                                        </div>
                                        <div class="block__address">г. Москва, ул. Усачева 62</div>
                                    </div>
                                    <div class="block__bottom">
                                        <div class="block__high">
                                            <div class="block__topic"><span class="block__dot block__dot--endo"></span>Эндодонтия</div>
                                            <div class="block__type">Практика</div>
                                        </div>
                                        <div class="block__center">
                                            <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                            <div class="block__price">25 000 ₽</div>
                                        </div>
                                        <div class="block__about">
                                            <div class="block__doctor">
                                                <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                <div class="block__fio">
                                                    <div class="block__name">Бадалян К. Ю.</div>
                                                    <div class="block__work">Стоматолог-пародонтолог</div>
                                                </div>
                                            </div>
                                            <div class="block__add">
                                                <div class="block__star">10</div>
                                                <div class="block__sert">Сертификат</div>
                                                <div class="block__more">еще</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="lectures-group__block block">
                                    <div class="block__top block__top--three">
                                        <div class="block__when">
                                            <div class="block__data">30.08.2019</div>
                                            <div class="block__time">09:00 - 19:00</div>
                                        </div>
                                        <div class="block__address">г. Москва, ул. Усачева 62</div>
                                    </div>
                                    <div class="block__bottom">
                                        <div class="block__high">
                                            <div class="block__topic"><span class="block__dot block__dot--terapia"></span>Терапия</div>
                                            <div class="block__type">Семинар</div>
                                        </div>
                                        <div class="block__center">
                                            <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                            <div class="block__price">25 000 ₽</div>
                                        </div>
                                        <div class="block__about">
                                            <div class="block__doctor">
                                                <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                <div class="block__fio">
                                                    <div class="block__name">Бадалян К. Ю.</div>
                                                    <div class="block__work">Стоматолог-пародонтолог</div>
                                                </div>
                                            </div>
                                            <div class="block__add">
                                                <div class="block__star">10</div>
                                                <div class="block__sert">Сертификат</div>
                                                <div class="block__more">еще</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="lectures-group__block block">
                                    <div class="block__top">
                                        <div class="block__when">
                                            <div class="block__data">30.08.2019</div>
                                            <div class="block__time">09:00 - 19:00</div>
                                        </div>
                                        <div class="block__address">г. Москва, ул. Усачева 62</div>
                                    </div>
                                    <div class="block__bottom">
                                        <div class="block__high">
                                            <div class="block__topic"><span class="block__dot block__dot--paradont"></span>Пародонтология</div>
                                            <div class="block__type">Семинар</div>
                                        </div>
                                        <div class="block__center">
                                            <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                            <div class="block__price">25 000 ₽</div>
                                        </div>
                                        <div class="block__about">
                                            <div class="block__doctor">
                                                <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                <div class="block__fio">
                                                    <div class="block__name">Бадалян К. Ю.</div>
                                                    <div class="block__work">Стоматолог-пародонтолог</div>
                                                </div>
                                            </div>
                                            <div class="block__add">
                                                <div class="block__star">10</div>
                                                <div class="block__sert">Сертификат</div>
                                                <div class="block__more">еще</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                    </div>

                                <h3 class="personal_cabinet__title personal_cabinet__title--event-last">Прошедшие мероприятия</h3>

                                <div class="personal_cabinet__slider personal_cabinet__slider--events">

                                <div class="lectures-slider__main responsive">
                                    <div class="lectures-group__block block">
                                        <div class="block__top">
                                            <div class="block__when">
                                            <div class="block__data">30.08.2019</div>
                                            <div class="block__time">09:00 - 19:00</div>
                                            </div>
                                            <div class="block__address">г. Москва, ул. Усачева 62</div>
                                        </div>
                                        <div class="block__bottom">
                                            <div class="block__high">
                                                <div class="block__topic"><span class="block__dot block__dot--paradont"></span>Пародонтология</div>
                                                <div class="block__type">Семинар</div>
                                            </div>
                                            <div class="block__center">
                                                <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                                <div class="block__price">25 000 ₽</div>
                                            </div>
                                            <div class="block__about">
                                                <div class="block__doctor">
                                                    <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                    <div class="block__fio">
                                                        <div class="block__name">Бадалян К. Ю.</div>
                                                        <div class="block__work">Стоматолог-пародонтолог</div>
                                                    </div>
                                                </div>
                                                <div class="block__add">
                                                    <div class="block__star">10</div>
                                                    <div class="block__sert">Сертификат</div>
                                                    <div class="block__more">еще</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="lectures-group__block block">
                                        <div class="block__top block__top--second">
                                            <div class="block__when">
                                                <div class="block__data">30.08.2019</div>
                                                <div class="block__time">09:00 - 19:00</div>
                                            </div>
                                            <div class="block__address">г. Москва, ул. Усачева 62</div>
                                        </div>
                                        <div class="block__bottom">
                                            <div class="block__high">
                                                <div class="block__topic"><span class="block__dot block__dot--endo"></span>Эндодонтия</div>
                                                <div class="block__type">Практика</div>
                                            </div>
                                            <div class="block__center">
                                                <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                                <div class="block__price">25 000 ₽</div>
                                            </div>
                                            <div class="block__about">
                                                <div class="block__doctor">
                                                    <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                    <div class="block__fio">
                                                        <div class="block__name">Бадалян К. Ю.</div>
                                                        <div class="block__work">Стоматолог-пародонтолог</div>
                                                    </div>
                                                </div>
                                                <div class="block__add">
                                                    <div class="block__star">10</div>
                                                    <div class="block__sert">Сертификат</div>
                                                    <div class="block__more">еще</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="lectures-group__block block">
                                        <div class="block__top block__top--three">
                                            <div class="block__when">
                                                <div class="block__data">30.08.2019</div>
                                                <div class="block__time">09:00 - 19:00</div>
                                            </div>
                                            <div class="block__address">г. Москва, ул. Усачева 62</div>
                                        </div>
                                        <div class="block__bottom">
                                            <div class="block__high">
                                                <div class="block__topic"><span class="block__dot block__dot--terapia"></span>Терапия</div>
                                                <div class="block__type">Семинар</div>
                                            </div>
                                            <div class="block__center">
                                                <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                                <div class="block__price">25 000 ₽</div>
                                            </div>
                                            <div class="block__about">
                                                <div class="block__doctor">
                                                    <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                    <div class="block__fio">
                                                        <div class="block__name">Бадалян К. Ю.</div>
                                                        <div class="block__work">Стоматолог-пародонтолог</div>
                                                    </div>
                                                </div>
                                                <div class="block__add">
                                                    <div class="block__star">10</div>
                                                    <div class="block__sert">Сертификат</div>
                                                    <div class="block__more">еще</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="lectures-group__block block">
                                        <div class="block__top">
                                            <div class="block__when">
                                                <div class="block__data">30.08.2019</div>
                                                <div class="block__time">09:00 - 19:00</div>
                                            </div>
                                            <div class="block__address">г. Москва, ул. Усачева 62</div>
                                        </div>
                                        <div class="block__bottom">
                                            <div class="block__high">
                                                <div class="block__topic"><span class="block__dot block__dot--paradont"></span>Пародонтология</div>
                                                <div class="block__type">Семинар</div>
                                            </div>
                                            <div class="block__center">
                                                <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                                <div class="block__price">25 000 ₽</div>
                                            </div>
                                            <div class="block__about">
                                                <div class="block__doctor">
                                                    <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                    <div class="block__fio">
                                                        <div class="block__name">Бадалян К. Ю.</div>
                                                        <div class="block__work">Стоматолог-пародонтолог</div>
                                                    </div>
                                                </div>
                                                <div class="block__add">
                                                    <div class="block__star">10</div>
                                                    <div class="block__sert">Сертификат</div>
                                                    <div class="block__more">еще</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    
                                </div>

                        </div>
                    </div>

        </div>
