<div class="main-center__left">

     <div class="sidebar">
         <h3 class="sidebar__title">Личный кабинет</h3>
         <ul class="sidebar__list">
             <li class="sidebar__item sidebar__item--main"><a href="/cabinet">Главная</a></li>
             <li class="sidebar__item sidebar__item--profile"><a href="/cabinet/profile">Профиль</a></li>
             <li class="sidebar__item sidebar__item--site"><a href="/cabinet/ad">Реклама</a></li>
             <li class="sidebar__item sidebar__item--banners"><a href="/cabinet/site/banners">Баннеры</a></li>
             <li class="sidebar__item sidebar__item--lecture"><a href="/cabinet/lectors">Лекторы</a><span class="lector_counter"></span></li>
             <li class="sidebar__item sidebar__item--events"><a href="/cabinet/events">Мероприятия</a><span class="event_counte"></span></li>
             {# <li class="sidebar__item sidebar__item--mail"><a href="/messages">Сообщения</a><span>5</span></li> #}
             {# <li class="sidebar__item sidebar__item--advertising"><a href="#">Реклама</a></li> #}
             <li class="sidebar__item sidebar__item--exit"><a href="/logout">Выход</a></li>
         </ul>
     </div>

 </div>
