<div class="main-center__left">

     <div class="sidebar">
         <h3 class="sidebar__title">Личный кабинет</h3>
         <ul class="sidebar__list">
             <li class="sidebar__item sidebar__item--main"><a href="/cabinet">Главная</a></li>
             <li class="sidebar__item sidebar__item--profile"><a href="/cabinet/profile">Профиль</a></li>
             <li class="sidebar__item sidebar__item--events"><a href="/cabinet/events">Мероприятия</a></li>
             <li class="sidebar__item sidebar__item--exit"><a href="/logout">Выход</a></li>
         </ul>
     </div>

 </div>
