{% extends 'base.listener.twig' %}

{% block title %}Профиль {% endblock %}


{% block body %}

    <main class="main-center">

    {% if mobileDetect == true %}
      {{ include('listener/profile/profile.mobile.twig') }}
    {% else %}
      {{ include('listener/profile/profile.desktop.twig') }}
    {% endif %}

    </main>


{% endblock %}
