{% extends 'base.html.twig' %}

{% block title %}Комментарии {% endblock %}


{% block body %}

<main class="main-center">


                <div class="main-center__mobile">
                {{ include('center/sidebar/_m.sidebar.twig') }}
                        <div class="main-center__content">

                            <div class="main-center__right">

                            {# тут контент #}

                            </div>

                            </div>

                </div>


</main>


{% endblock %}
