
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1" name="viewport">
    <title>{% block title %}Welcome!{% endblock %}</title>
       <link href="/css/main.css?ver=1.1" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon_3.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/test/test.css" rel="stylesheet">
    <meta name="yandex-verification" content="f0d9b1057160a586" />

            {% block stylesheets %}{% endblock %}
            {% set is_login = app.session.get('f22') %}

</head>

<body>

  {% if app.request.pathinfo != '/messages' %}
  {{ include('header.cabinet.twig') }}
  {% endif %}


        {% block body %}{% endblock %}


</body>

</html>
