<footer class="main-footer">


        <div class="main-footer__content">

            <div class="main-footer__logo">
                <div class="main-footer__logo-img">
                        <img src="/img/footer_logo.svg">
                </div>

                <div class="main-footer__data">© STOMUP 2020</div>


            </div>


            <div class="main-footer__all">

                <div class="main-footer__menu">

                     <ul class="main-footer__list">
                        <li class="main-footer__item">Пользователь</li>
                        <li class="main-footer__item"><a href="">Профиль</a></li>
                        <li class="main-footer__item"><a href="">Настройки</a></li>
                        {# <li class="main-footer__item"><a href="">Сообщения</a></li>#}
                        <li class="main-footer__item"><a href="">Выход</a></li>
                    </ul>

                </div>

                <div class="main-footer__menu">
                <ul class="main-footer__list">
                        <li class="main-footer__item">Разделы</li>
                        <li class="main-footer__item"><a href="/ways">Каталог</a></li>
                        <li class="main-footer__item"><a href="/lectors">Лекторы</a></li>
                        <li class="main-footer__item"><a href="/events">Мероприятия</a></li>
                        <li class="main-footer__item"><a href="/centers">Лекционные центры</a></li>
                    </ul>
                </div>

                <div class="main-footer__menu">
                 <ul class="main-footer__list">
                        <li class="main-footer__item">Инфо</li>
                        <li class="main-footer__item"><a href="">О проекте</a></li>
                        <li class="main-footer__item"><a href="">Контакты</a></li>
                    </ul>
                </div>

                 <div class="main-footer__menu">
                 <ul class="main-footer__list">
                        <li class="main-footer__item">Юридическая информация</li>
                        <li class="main-footer__item"><a href="">Пользовательское соглашение</a></li>
                        <li class="main-footer__item"><a href="">Договор на оказание рекламных услуг</a></li>
                        <li class="main-footer__item"><a href="">Договор публичной оферты</a></li>
                    </ul>
                </div>

                <div class="main-footer__menu main-footer__menu--ad">
                 <ul class="main-footer__list">
                        <li class="main-footer__item">Реклама</li>
                        <li class="main-footer__item"><a href="">Для стоматологии</a></li>
                        <li class="main-footer__item"><a href="">Для производителей</a></li>
                        <li class="main-footer__item"><a href="">Для учебных центров</a></li>
                </ul>
                </div>


                <div class="main-footer__info">
                    <div class="main-footer__contacts">
                        {# <p class ="main-footer__phone"><a href="">+7 (911) 835-35-35</a></p> #}
                        <p class ="main-footer__mail"><a href="">hello@stomup.ru</a></p>
                    </div>
                   <div class="main-footer__links">
                   <h3 class="main-footer__item main-footer__item--rss">Подписка на рассылку</h3>
                   <div class="main-footer__rss">
                        <input type="text" placeholder="Ваш e-mail">
                        <input type="submit" value="Подписаться">
                   </div>

                   </div>
                </div>

            </div>

        </div>

    </footer>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "/modules/js/ya.tag.js", "ym");

       ym(57497592, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/57497592" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
