{# mobile #}

<div class="main-center__mobile">

  {{ include('user/_m.sidebar.cabinet.html.twig') }}

         <div class="main-center__right">

              <div class="chats__area">
             <div class="tabs-messenger">
                 <div class="chats__about">
                 <h3 class="chats__title">Сообщения</h3>
                 <div class="chats__search">
                     <input type="search" id="site-search" name="q" aria-label="Поиск по сообщениям">
                     <button></button>
                 </div>
                 </div>
                 <input id="tab3" type="radio" name="tabs">
                 <label for="tab3">
                     <div id = "person-3" class="chats__person">
                         <div class="chats__photo"><img src="/img/chats_1.png" alt="chats_1"></div>
                         <div class="chats__body">
                             <div class="chats__name">Бадалян К.Ю.</div>
                             <div class="chats__text"></div>
                         </div>
                         <div class="chats__info">
                             <div class="chats__time">5 мин.</div>
                             <div class="chats__number">4</div>
                         </div>
                     </div>
                 </label>
                 <input id="tab4" type="radio" name="tabs">
                 <label for="tab4">
                     <div id="person-4" class="chats__person">
                         <div class="chats__photo"><img src="/img/chats_2.png" alt="chats_2"></div>
                         <div class="chats__body">
                             <div class="chats__name">Комарова Е.О.</div>
                             <div class="chats__text"></div>
                         </div>
                         <div class="chats__info">
                             <div class="chats__time">30 мин.</div>
                             <div class="chats__number">1</div>
                         </div>
                     </div>
                 </label>
                 <section class = "content__mobile" id="content-3">
                     <div class="mobile__hidden">

                     <div class="chats__mobile">
                         <div class="chats__mobcontent">
                             <div class="chats__mobname">Бадалян К.Ю.</div>
                             <button class="chats__away"><img src="/img/button_away.svg" alt="button_away"></button>
                         </div>
                     </div>
                     <div id = "chats__area" class="chats__area">
                             <div class="chats__block">
                                     <div class="chats__data"><span>1 сентября</span></div>
                                     <div class="chats__dialog">
                                         <div class="chats__answer">
                                             <div class="chats__content">
                                                 <div class="chats__words">
                                                         <div class="chats__text-desc">
                                                                 <span class="chats__text-body">Добрый день!</span>
                                                                 <span class="chats__text-time">12.14</span>
                                                             </div>
                                                 </div>
                                                 <div class="chats__words">
                                                         <div class="chats__text-desc">
                                                                 <span class="chats__text-body">Благодарю за такой быстрый ответ, буду ждать сообщения от ваших менеджеров</span>
                                                                 <span class="chats__text-time">12.15</span>
                                                             </div>
                                                 </div>
                                                 <div class="chats__words">
                                                         <div class="chats__text-desc">
                                                             <span class="chats__text-body">Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время</span>
                                                             <span class="chats__text-time">12.23</span>
                                                         </div>
                                                 </div>
                                                 <div class="chats__words">
                                                         <div class="chats__text-desc">
                                                                 <span class="chats__text-body">Благодарим за работу!</span>
                                                                 <span class="chats__text-time">12.25</span>
                                                             </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                         <div class="chats__block chats__block--blue">
                             <div class="chats__data chats__data--blue"><span>Сегодня</span></div>
                             <div class="chats__dialog">
                                 <div class="chats__answer chats__answer--blue">
                                     <div class="chats__icon"></div>
                                     <div class="chats__content chats__content--blue">
                                         <div class="chats__words chats__words--blue">
                                                 <div class="chats__text-desc chats__text-desc--blue">
                                                         <span class="chats__text-body">Добрый день, Евгения!  Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время. <span>
                                                         <span class="chats__text-time">12.25</span>
                                                 </div>
                                         </div>
                                         <div class="chats__words chats__words--blue">
                                                 <div class="chats__text-desc chats__text-desc--blue">
                                                         <span class="chats__text-body">Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время<span>
                                                         <span class="chats__text-time">12.27</span>
                                                 </div>
                                         </div>
                                         <div class="chats__words chats__words--blue">
                                                 <div class="chats__text-desc chats__text-desc--blue">
                                                         <span class="chats__text-body">Получили оплату, подтверждаем! Ждём вас на нашем мероприятии!<span>
                                                         <span class="chats__text-time">12.29</span>
                                                 </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="chats__block">
                                 <div class="chats__data"><span>3 сентября</span></div>
                                 <div class="chats__dialog">
                                     <div class="chats__answer">
                                         <div class="chats__content">
                                             <div class="chats__words">
                                                     <div class="chats__text-desc">
                                                             <span class="chats__text-body">Добрый день!</span>
                                                             <span class="chats__text-time">12.14</span>
                                                         </div>
                                             </div>
                                             <div class="chats__words">
                                                     <div class="chats__text-desc">
                                                             <span class="chats__text-body">Благодарю за такой быстрый ответ, буду ждать сообщения от ваших менеджеров</span>
                                                             <span class="chats__text-time">12.15</span>
                                                         </div>
                                             </div>
                                             <div class="chats__words">
                                                     <div class="chats__text-desc">
                                                         <span class="chats__text-body">Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время</span>
                                                         <span class="chats__text-time">12.23</span>
                                                     </div>
                                             </div>
                                             <div class="chats__words">
                                                     <div class="chats__text-desc">
                                                             <span class="chats__text-body">Благодарим за работу!</span>
                                                             <span class="chats__text-time">12.25</span>
                                                         </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="chats__block chats__block--blue">
                                     <div class="chats__data chats__data--blue"><span>4 сентября</span></div>
                                     <div class="chats__dialog">
                                         <div class="chats__answer chats__answer--blue">
                                             <div class="chats__icon"></div>
                                             <div class="chats__content chats__content--blue">
                                                 <div class="chats__words chats__words--blue">
                                                         <div class="chats__text-desc chats__text-desc--blue">
                                                                 <span class="chats__text-body">Добрый день, Евгения!  Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время. <span>
                                                                 <span class="chats__text-time">12.25</span>
                                                         </div>
                                                 </div>
                                                 <div class="chats__words chats__words--blue">
                                                         <div class="chats__text-desc chats__text-desc--blue">
                                                                 <span class="chats__text-body">Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время<span>
                                                                 <span class="chats__text-time">12.27</span>
                                                         </div>
                                                 </div>
                                                 <div class="chats__words chats__words--blue">
                                                         <div class="chats__text-desc chats__text-desc--blue">
                                                                 <span class="chats__text-body chats__text-last">Получили оплату, подтверждаем! Ждём вас на нашем мероприятии!<span>
                                                                 <span class="chats__text-time">12.29</span>
                                                         </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         <div class="chats__window">
                             <div class="chats__add">
                                 <button class="add__button">+</button>
                                 <div class="add__hide">
                                     <div class="add__content">
                                         <div class="add__photo">
                                             <label class="label">
                                                 <input type="file">
                                                 <span class="title">Фото</span>
                                             </label>
                                         </div>
                                         <div class="add__file">
                                             <label class="label">
                                                 <input type="file">
                                                 <span class="title">Файл</span>
                                             </label>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="chats__write">
                                 <textarea id = "chats__message" type="text" placeholder="Ваше сообщение"></textarea>
                             </div>
                             <button class="chats__button">
                                     <input type="submit">
                             </button>
                         </div>
                 </div>
                 </section>
                 <section class = "content__mobile" id="content-4">
                         <div class="mobile__hidden">
                                 <div class="chats__mobile">
                                         <div class="chats__mobcontent">
                                             <div class="chats__mobname">Комарова Е.О.</div>
                                             <button class="chats__away"><img src="/img/button_away.svg" alt="button_away"></button>
                                         </div>
                                     </div>
                                     <div id = "chats__area" class="chats__area">
                                             <div class="chats__block">
                                                     <div class="chats__data"><span>1 сентября</span></div>
                                                     <div class="chats__dialog">
                                                         <div class="chats__answer">
                                                             <div class="chats__content">
                                                                 <div class="chats__words">
                                                                         <div class="chats__text-desc">
                                                                                 <span class="chats__text-body">Добрый день!</span>
                                                                                 <span class="chats__text-time">12.14</span>
                                                                             </div>
                                                                 </div>
                                                                 <div class="chats__words">
                                                                         <div class="chats__text-desc">
                                                                                 <span class="chats__text-body">Благодарю за такой быстрый ответ, буду ждать сообщения от ваших менеджеров</span>
                                                                                 <span class="chats__text-time">12.15</span>
                                                                             </div>
                                                                 </div>
                                                                 <div class="chats__words">
                                                                         <div class="chats__text-desc">
                                                                             <span class="chats__text-body">Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время</span>
                                                                             <span class="chats__text-time">12.23</span>
                                                                         </div>
                                                                 </div>
                                                                 <div class="chats__words">
                                                                         <div class="chats__text-desc">
                                                                                 <span class="chats__text-body">Благодарим за работу!</span>
                                                                                 <span class="chats__text-time">12.25</span>
                                                                             </div>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                         <div class="chats__block chats__block--blue">
                                             <div class="chats__data chats__data--blue"><span>Сегодня</span></div>
                                             <div class="chats__dialog">
                                                 <div class="chats__answer chats__answer--blue">
                                                     <div class="chats__icon"></div>
                                                     <div class="chats__content chats__content--blue">
                                                         <div class="chats__words chats__words--blue">
                                                                 <div class="chats__text-desc chats__text-desc--blue">
                                                                         <span class="chats__text-body">Добрый день, Евгения!  Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время. <span>
                                                                         <span class="chats__text-time">12.25</span>
                                                                 </div>
                                                         </div>
                                                         <div class="chats__words chats__words--blue">
                                                                 <div class="chats__text-desc chats__text-desc--blue">
                                                                         <span class="chats__text-body">Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время<span>
                                                                         <span class="chats__text-time">12.27</span>
                                                                 </div>
                                                         </div>
                                                         <div class="chats__words chats__words--blue">
                                                                 <div class="chats__text-desc chats__text-desc--blue">
                                                                         <span class="chats__text-body">Получили оплату, подтверждаем! Ждём вас на нашем мероприятии!<span>
                                                                         <span class="chats__text-time">12.29</span>
                                                                 </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="chats__block">
                                                 <div class="chats__data"><span>3 сентября</span></div>
                                                 <div class="chats__dialog">
                                                     <div class="chats__answer">
                                                         <div class="chats__content">
                                                             <div class="chats__words">
                                                                     <div class="chats__text-desc">
                                                                             <span class="chats__text-body">Добрый день!</span>
                                                                             <span class="chats__text-time">12.14</span>
                                                                         </div>
                                                             </div>
                                                             <div class="chats__words">
                                                                     <div class="chats__text-desc">
                                                                             <span class="chats__text-body">Благодарю за такой быстрый ответ, буду ждать сообщения от ваших менеджеров</span>
                                                                             <span class="chats__text-time">12.15</span>
                                                                         </div>
                                                             </div>
                                                             <div class="chats__words">
                                                                     <div class="chats__text-desc">
                                                                         <span class="chats__text-body">Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время</span>
                                                                         <span class="chats__text-time">12.23</span>
                                                                     </div>
                                                             </div>
                                                             <div class="chats__words">
                                                                     <div class="chats__text-desc">
                                                                             <span class="chats__text-body">Благодарим за работу!</span>
                                                                             <span class="chats__text-time">12.25</span>
                                                                         </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="chats__block chats__block--blue">
                                                     <div class="chats__data chats__data--blue"><span>4 сентября</span></div>
                                                     <div class="chats__dialog">
                                                         <div class="chats__answer chats__answer--blue">
                                                             <div class="chats__icon"></div>
                                                             <div class="chats__content chats__content--blue">
                                                                 <div class="chats__words chats__words--blue">
                                                                         <div class="chats__text-desc chats__text-desc--blue">
                                                                                 <span class="chats__text-body">Добрый день, Евгения!  Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время. <span>
                                                                                 <span class="chats__text-time">12.25</span>
                                                                         </div>
                                                                 </div>
                                                                 <div class="chats__words chats__words--blue">
                                                                         <div class="chats__text-desc chats__text-desc--blue">
                                                                                 <span class="chats__text-body">Благодарим вас за вопрос, наши менеджеры свяжутся с вами в ближайшее время<span>
                                                                                 <span class="chats__text-time">12.27</span>
                                                                         </div>
                                                                 </div>
                                                                 <div class="chats__words chats__words--blue">
                                                                         <div class="chats__text-desc chats__text-desc--blue">
                                                                                 <span class="chats__text-body chats__text-last">Спасибо!Получили оплату, подтверждаем! Ждём вас на нашем мероприятии!<span>
                                                                                 <span class="chats__text-time">12.29</span>
                                                                         </div>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         <div class="chats__window">
                                             <div class="chats__add">
                                                 <button class="add__button">+</button>
                                                 <div class="add__hide">
                                                     <div class="add__content">
                                                         <div class="add__photo">
                                                             <label class="label">
                                                                 <input type="file">
                                                                 <span class="title">Фото</span>
                                                             </label>
                                                         </div>
                                                         <div class="add__file">
                                                             <label class="label">
                                                                 <input type="file">
                                                                 <span class="title">Файл</span>
                                                             </label>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="chats__write">
                                                 <textarea id = "chats__message" type="text" placeholder="Ваше сообщение"></textarea>
                                             </div>
                                             <button class="chats__button">
                                                     <input type="submit">
                                             </button>
                                         </div>
                         </div>
                 </section>
             </div>
             </div>


         </div>

</div>
