{# DESKTOP #}
<div class="main-center__desktop">

<div class="main-center__content">

{{ include('admin/sidebar/_sidebar.twig') }}

<div class="main-center__right">

<div class="content">

<div class="top-content">

{#
количество зарегистрированных
количество на сегодня
количество заявок
 #}

</div>

<div class="bottom-content">

    <div class="bottom-content__center">

    </div>
</div>

</div>

</div>
</div>

</div>
