{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<main class="main-center">

    <div class = "main_404">
            <div class = "main_404__img"><img src = "/img/404_img.png"></div>
            <div class = "main_404__block">
                <h3 class="main_404__title">Страница не найдена</h3>
                <p class="main_404__info">Страница запрошенного вами центра ещё не создана. Вы можете зарегестрировать данный лекционный центр или перейти на главную страницу портала</p>
                <div class="main_404__buttons">
                    <a href="/"> <button class="main_404__cross">Перейти на главную</button></a>
                </div>
            </div>
    </div>

</main>
{% endblock %}
